* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
#titulo{
    font-family: 'Impact';
    font-size: 4em;
    background-color: #ff5f49;
    text-align: center;
    color: white;
}
.menuu{
    flex-direction: row;
    flex-wrap: wrap;
}
/* como se hace con el flex */
.menu{
    font-size: 20px;
    letter-spacing: 0.25em;
    float: left;    
    position: relative;
    width: 33.333%;
    text-align: center;
    border-bottom: 3px solid #ff5f49  ;
    color: #ff5f49;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}
.menu:hover{
    font-weight: bold;
    text-shadow: 2px 2px 5px gray;
} 
#texto{
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
    margin-top: 80px;
    word-spacing: 12px;
}
txt{
    font-style: italic;
    color: #ff5f49;
}
#circulos{
    background-color: #f2f2f2;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    text-align: center;
}

.icon-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin: 0 20%;
}
.linkscirculos{
    text-decoration: none;

}
.linkscirculos:hover{
    text-shadow: 2px 2px 5px gray;

}